{%- comment -%} Get current variant | Added by Dustin @shopify on Dec. 22, 2022 {%- endcomment -%}
<script>
  
async function _getCurrentProduct() {
  const product = document.querySelector('#ProductJson');

  if (product) {
    
    return JSON.parse(product.innerHTML);
  }

  let url;

  url = `https://${window.location.host + window.location.pathname}.json`;

  return new Promise(async (resolve, reject) => {
    let response = await fetch(url);

    let { product } = await response.json();

    window.ezfy_product = product;

    resolve(product);
  });
}

async function _getCurrentVariant() {
  const product = await _getCurrentProduct();
  const variant = await _getVariantID(product);
  return variant;
}

function _getVariantID(product) {
  const radio_options = document.querySelectorAll(`input[type="radio"]`);
  const radio_option_string = radio_options[0].value;
  const available_variants = product.variants.filter((e) => e.option1 === radio_option_string);
  return available_variants;
}

async function currentVariant() {
  var variants = await _getCurrentVariant();

  var second_option_fieldset = document.getElementById('second_option');
  
  let node = document.createElement("input");
let textnode = document.createTextNode("Label");
node.appendChild(textnode);
  second_option_fieldset.innerHTML = "";
for (let i = 0; i < variants.length; i++) {
    second_option_fieldset.innerHTML += `<input id='{{ section.id }}-`+ i +`' type="radio" value="` + variants[i].option2 +  `">`;
    second_option_fieldset.innerHTML += `<label for='{{ section.id }}-`+ i +`'>` + variants[i].option2 + `</label>`;
};

}
  
document.addEventListener("DOMContentLoaded", function(){
  var second_option_fieldset = document.getElementById('second_option');
  second_option_fieldset.innerHTML = "";
});
  
let option_selectors = document.querySelectorAll(`input[type="radio"]`);

  
</script>
{%- comment -%} @MC:EOL | Dustin @shopify on Dec. 22, 2022 {%- endcomment -%}